@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background-color: rgba(151, 151, 151, 0.03)
}

html{
  scroll-behavior: smooth;
}

.menu-btn{
  display: none;
}

*{
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.04);
  background-color: rgb(240,240,240);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.logo img{
  height: 40px;
}

nav .menu{
  display: flex;
}

nav .menu li a{
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0px 20px;
  display: flex;
  font-size: 0.8;
  text-transform: uppercase;
  font-weight: 500;
  color: #585858;
}

.recherche{
  width: 250px;
  height: 40px;
  background-color: rgba(250, 250, 250, 0.904) ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0px 20px;
}

.recherche input{
  width: 100%;
  font-size: medium;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search i{
  color: #3a3a3a;
}

nav .menu li a:hover{
  background-color: #242424;
  color: #ffffff;
  box-shadow: 5px 10px 30px rgba(53, 53, 53, 0.1);
  transition: all 0.2s ease-in-out ;
  border-radius: 20px;
  display: center;
}

.vult.scroll a,
.ess.scroll a,
.mille.scroll a{
  background-color: #242424;
  color: #ffffff;
  box-shadow: 5px 10px 30px rgba(53, 53, 53, 0.1);
  transition: all 0.4s ease-in-out ;
  border-radius: 20px;
  display: center;
}

#main{
  padding-top: 80px;
  background-color: #ffffff;
}

.showcase-heading{
  padding-left: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #1a1a1a;
}

.showcase-box{
  width: 430px;
  height: 250px;
  box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
  border-radius: 15px;
  margin: 0px 20px 10px 20px;
  overflow: hidden;
  -webkit-line-clamp: vertical;
}

.showcase-box:hover{
  transform: translateY(-5px);
  transition: all ease 0.3s;
}

.showcase-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.cs-hidden{
  overflow: visible !important;
}

#essais{
  border-top: 1px solid rgba(53, 53, 53, 0.1);
}

.essais-heading{
  margin: 30px 30px 0px 30px;
  font-weight: 500;
  font-size: 1.3rem;
}

.essais-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  margin: 20px 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
  background-color: #ffffff;
  -webkit-line-clamp: vertical;
}

.essais-box:hover{
  transform: translateY(-5px);
  transition: all ease 0.3s;
}

.cs-hidden{
  overflow: visible !important;
}

.essais-b-img{
  width: 100%;
  height: 200px;
}

.essais-b-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.essais-b-txt strong{
  color: #3a3a3a;
  margin: 0;
}

.essais-b-txt{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.essais-b-txt p{
  color: #979797;
  margin: 0;
}

.multipla-heading h2{
  font-weight: 400;
  margin: 0;
  padding-left: 5px 20px;
  font-size: 1.7rem;
  text-transform: uppercase;
  width: 100%;
}

.multipla-heading{
  display: flex;
  margin: 0px 2%;
}

.multipla-box{
  width: 525px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  border-top: 3px solid #292929;
}

.multipla-img{
  width: 100%;
  height: 400px;
  position: relative;
}

.multipla-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.multipla-box a{
  text-align: center;
  display:  block;
  font-weight: 600;
  display: -webkit-box;
  max-width: 80%;
  -webkit-line-clamp: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3a3a3a;
  margin: 20px;
}

.multipla-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

#multipla-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.185);
}

footer p{
  color: #5e5e5e;
  margin: 10px 20px;
  font-size: 0.9rem;
}

.ancre{
  position: relative;
  top: -60px;
  visibility: hidden;
}

.ancre2{
  position: relative;
  top: -80px;
  visibility: hidden;
}

@media(max-width:1100px){
  nav{
    justify-content: space-between;
    height: 70px;
    padding: 0px 10px;
  }
  nav .menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    background: #fff;
    border-bottom: 4px solid #242424;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .menu li{
    width: 100%;
  }

  nav .menu li a{
    width: 100%;
    height: 40px;
    align-items: center;
    margin: 0;
    padding: 25px;
    border: 1px solid rgba(38, 38, 38, 0.03);
  }

  nav .menu-icon{
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    display: block;
  }

  nav .menu-icon .nav-icon{
    background-color: #333333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }

  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after{
    background-color: #333333;
    content: '';
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }

  nav .menu-icon .nav-icon:before{
    top: 5px;
  }
  nav .menu-icon .nav-icon:after{
    top: -5px;
  }

  nav .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
  }

  nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
  }

  nav .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top: 0;
  }

  nav .menu-btn{
    display: none;
  }

  nav .menu-btn:checked ~.menu{
    display: block;
  }
}

@media(max-width:680px){
  .showcase-box{
    max-width: 300px;
    height: 180px;
    margin: 10px;
  }
  .essais-box{
    width: 190px;
    margin: 20px;
  }

  .multipla-box{
    flex-direction: row;
    width: 90%;
    border: 1px solid rgba(0,0,0,0.2);
  }

  .multipla-box a{
    width: 65%;
  }

  footer{
    justify-content: space-between;
    padding: 0px 20px;
    text-align: center;
  }
}

@media(max-width:440px){
  .multipla-box a, .multipla-box{
    width: 100%;
  }

  .multipla-box{
    flex-direction: column;
  }

  .logo img{
    height: 30px;
  }

  .recherche{
    width: 90%;
    height: 40px;
  }

}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background: hsla(0, 0%, 9%, 0.116);
  border-radius: 100vw;
  margin-top: 5em;
  margin-bottom: 3em;
}

::-webkit-scrollbar-thumb{
  background: hsla(0, 0%, 9%, 0.904);
  border: .2em solid hsl(0, 0%, 90%);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
  background: hsla(0, 0%, 9%, 0.808);
}

.lightslider{
  color: black;
}

